{% extends 'base.html' %}
{% block title %}All Users{% endblock %}

{% block body %}
   <h2>Create an Account</h2>
  <form action="/register" method="POST">
    <div class="mb-3">
        <label for="inputfirstname" class="form-label">First Name</label>
        <input type="text" name="firstname" class="form-control" id="firstname" >
        <div id="firstnameHelp" class="form-text">Enter your first name.</div>
    </div>
      <div class="mb-3">
        <label for="inputEmail" class="form-label">Email address</label>
        <input type="email" name = "email" class="form-control" id="email">
        <div id="emailHelp" class="form-text">Please enter a valid email address.</div>
      </div>
      <div class="mb-3">
        <label for="inputPassword" class="form-label">Password</label>
        <input type="password" name ="password" class="form-control" id="password">
        <div id="emailHelp" class="form-text">Passwords must be 8-10 chararacters long.</div>

      </div>
      <!-- <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div> -->
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <h2>Log In</h2>
  <form action="/login" method="POST">
    <!-- <p> Name <input type="text" name="firstname">  </p> -->
    <div class="mb-3">
      <label for="inputEmail" class="form-label">Email address</label>
      <input type="email" name = "email" class="form-control" id="email">
    </div>
    <div class="mb-3">
      <label for="inputPassword" class="form-label">Password</label>
      <input type="password" name ="password" class="form-control" id="password">
    </div>
    <!-- <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </ul>
{% endblock %}


<form action="/login" method="POST">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">Please enter a valid email address.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>