{% extends 'base.html' %}

{% block body %}
<div class="container">
	<h3 class="text-center"> Different Types of Teas </h3>

<body class="background-image-allteas-container" > 
  <div class="row">
	{% for tea in teas %}
		<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 pb-4">
			<div class="card border-3 bg-light shadow-sm  text-right">
				<img src="{{ tea.image_url }}" class="bd-placeholder-img card-img-top" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
				    <h5 class ="text-center" class="card-title"> <strong> {{ tea.name }} </strong></h5>
					<div class="card-body">
						<div class="d-flex justify-content-between align-items-center">
							<div class="btn-group">
								<a href="/teas/{{ tea.id }}">
									<button type="button" class="btn btn btn-outline-secondary">View</button>
									<br> 
								</a>
							</div>
							<div class="btn-group">
								{% if session.get('firstname') %}  
									<button type="button" id ="{{tea.id}}" class="btn btn-outline-dark fav-button" > <span class="material-icons">
										star_border
										</span></button>
									{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
  </div>
</div>
</body>
{% endblock %}




