{% extends 'base.html' %}

{% block body %}
<div class="container mt-4">
	<h1>All Teas</h1>
  <div class="row">
		{% for tea in teas %}
			<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 pb-4">
				<div class="card shadow-sm">
					<img src="{{ tea.image_url }}" class="bd-placeholder-img card-img-top" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
					{{ tea.name }}
					<div class="card-body">
						<div class="d-flex justify-content-between align-items-center">
							<div class="btn-group">
								<a href="/teas/{{ tea.id }}">
									<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
								</a>
								{% if session.get('firstname') %}  
									<button type="button" id ="{{tea.id}}" class="btn btn-primary fav-button">Favorite</button>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
  </div>
</div>
{% endblock %}




