{% extends 'base.html' %}
{% block title %}Spill the Tea{% endblock %}

{% block body %}
<body class="background-image-homepage-container"> 
    <div class="container">
        <div class="col-3">
            <div class="row">
              <div class="col">
                <h2 id="slogan"class="text-center">Tea  Lovers  Unite!
                 </h2>
                  <br> 
                  <h5 id="slogan2"class="text-center"> Learn about teas, find tea cafes and take our quiz to get a tea matched to you.
                  </h5>
                  <h5 id="slogan2"class="text-center"> An inspiration in every cup.
                  <br> Click "Get Inspired" to get inspired! 
                  </h5>
              </div>
        <div class="card">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>loading...
              </p>
              <footer class="blockquote-footer">
                <cite title="Source Title">
                </cite>
                </footer>
              </blockquote>
            </div>
            <div class="card-footer">
              <button id="get-inspired" class="btn btn-primary">Get Inspired!
              </button>
            </div>
          </div>
          </div>
        </div>

    <script src="/static/quoteGenerator.js">  </script>
  </body>  
{% endblock %}

