{% extends 'base.html' %}

{% block title %}Profile Page {% endblock %}

{% block body %}
<div class="container mt-4">

    <h1>Tea Cafe</h1>
    <div class="container form">

    <form action="/process_search" method="POST" > 
      <div class="row">

        <div class="col-6">
        
          <input type="text" placeholder="Enter a zipcode" name="zipcode">
    
        </div>
      </div>
            
              <button class="btn btn-primary" type="submit">Submit</button>
            </div>
          </div>

  
        </div>
      </div>
    </form>
  
  </div>
  
    
{% endblock %}



    
