{% extends 'base.html' %}
  
{% block body %}
<div class="container mt-4">
    <div class="row">
        {% for business in businesses %}
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 pb-4">
            <div class="card">
                <img class="bd-placeholder-img card-img-top" role="img" data-src="holder.js/100px200/" alt="100%x200" src= "{{ business.image_url }}" data-holder-rendered="true" s preserveAspectRatio="xMidYMid slice">
                <div class="card-body">
                    <h5 class="card-title"> {{ business.name}}</h5>
                    <p class="card-text">Rating: {{business.rating}}</p>
                    <p class="card-text"> 
                        <span id="address1">{{business.location.display_address[0]}}</span>
                        <span id="address2">{{business.location.display_address[1]}}</span>
                   </p>
                   <a href="{{business.url}}">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </a>
                    <br>
                    <button type="button" class="test btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#myModal">Direction</button>    
                </div>
            </div>
        </div>
        {%endfor%}
  <!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Cafe Directions</h5>
        </div>
        <div class="modal-body center">
            <div class="row">
                <div class="col">
                    <div id='map' ></div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button id="closebutton" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <script src="/static/script.js" defer>  </script>

{% endblock %}


